

<div class="well-lg">
  <form ng-bind="reportsForm">
   	<table border="0" cellspacing="2" cellpadding="2" width="70%"> 
   		<tr>
   			<td colspan="2" align="right"> <img style="height:100px; width:100px;" src="../images/event.jpg" /></td>
   			<td align="left"><b><h2>Results</h2></b></td>
   		</tr>
   		<tr>
   			<td colspan="3">&nbsp;</td>
   		</tr>
   		<tr>
   			<td colspan="3" align="left"><b>Rank:</b>&nbsp;&nbsp;<img style="height:30px; width:30px;" src="../images/No1.png" /></td>
   		</tr>
   		<tr>
   			<td colspan="3">&nbsp;</td>
   		</tr>
   		<tr>
   			<td colspan="3" align="left"><b>Category:</b> Summer Program</td>
   		</tr>
   		<tr>
   			<td colspan="3">&nbsp;</td>
   		</tr>
   		<tr>
   			<td colspan="3" align="left"><b>Project:</b> IT is for Girls</td>
   		</tr>
   		<tr>
   			<td colspan="3">&nbsp;</td>
   		</tr>
   		<tr>
   			<td colspan="3" align="left"><b><u>Team Members</u></b></td>
   		</tr>
   		<tr>
   			<td align="left" colspan="3">
   				<ul>
   					<li>
   						Brynn
   					</li>
   					<li>
   						Dan
   					</li>
   					<li>
   						Patrick
   					</li>
   					<li>
   						Sathish
   					</li>
   					<li>
   						Selva
   					</li>
   				</ul>
   			</td>
   		</tr>
   	</table>
  </form>
</div>