<table border="0" cellspacing="2" cellpadding="2" width="70%"> 
   <tr>
      <td colspan="2" align="right"> <img style="height:100px; width:100px;" src="../images/event.jpg" /></td>
      <td align="left"><b><h2>Results</h2></b></td>
   </tr>
   <tr>
      <td colspan="3">&nbsp;</td>
   </tr>
</table>
<span ng-repeat="result in results"> 
   </br>
   <b>Rank:</b>&nbsp;&nbsp;<img style="height:30px; width:30px;" src="../images/No{{result.rank}}.png" />
   </br>
   <div class="well-sm alert-success"><b>Category:</b> &nbsp;&nbsp; {{result.category}}
   </br></div>
   <b>Project:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{result.project}}
   </br></br>
   <b><u>Team Members</u></b>
   </br>
   <ul>
      <span ng-repeat="member in result.members">
        <li>
            {{member.name}}
         </li>
      </span>
   </ul>
   <hr>
</span>
