<div ng-show="success">
	<h2>Summer Camp Events Rating</h2>
	<div ng-repeat="category in categories">
  	<h4 class="well-lg alert-success">{{category.name}}</h4>
		<ul>
	         <li ng-repeat="project in category.projects"> 
	            {{project.name}} - 
	            <span star-rating rating-value="project.rating.current" max="project.rating.max" on-rating-selected="getSelectedRating(rating)"></span>        
	         	<span ng-show="project.rating.current>0">{{project.rating.current}} out of {{project.rating.max}}</span>
	         </li>
	     </ul>
     </div>
     <button type="button" ng-click="resetRating()" class="btn">Reset</button>
     <button type="button" ng-click ="submitRating()" class="btn">Submit</button>
</div>
<div ng-hide="success">
	<h3>This event is not available for ratings.</h3>
	</div>
<br/>
